{
  "version": "1.0.5",
  "forced": true,
  "downloadUrl": "https://github.com/StarGazerDevelopment/devcode-app/raw/main/Installer/installer.exe",
  "releaseNotes": "### DevCode 1.0.5\n- Fixed Open Folder functionality resetting the file tree.\n- Added fallback to prompt for folder paths when running via web."
}