{
  "version": "1.0.1",
  "forced": true,
  "downloadUrl": "https://github.com/StarGazerDevelopment/devcode-app/raw/main/Installer/installer.exe",
  "releaseNotes": "### DevCode 1.0.1\n- Added Onboarding flow\n- Global Settings and API Key management\n- Far-left project sidebar\n- Improved local UI styling"
}